Emergency Team Dispatcher/Emergency Team Dispatcher.v12.suo
Emergency Team Dispatcher/Emergency Team Dispatcher/bin/Debug/
Emergency Team Dispatcher/Emergency Team Dispatcher/obj/Debug/
Emergency Team Dispatcher/Emergency Team Dispatcher.accdb
*.orig
Emergency Team Dispatcher/EmergencyTeamDispatcherTest/obj/Debug/
Emergency Team Dispatcher/EmergencyTeamDispatcherTest/bin/Debug/
*.TMP
ETD/ETD/bin/
ETD/ETD/obj/
ETD/ETD.v12.suo
ETD/ETD_UnitTest/obj/Debug/
ETD/ETD_UnitTest/bin/Debug/
*.cache
*.cache
*.cache
*.lref
*.manifest
ETD/ETD_Statistic/obj/Debug/App.g.i.cs
*.cache
ETD/ETD_Statistic/obj/Debug/ETD_Statistic.csproj.FileListAbsolute.txt
*.cache
*.dll
ETD/ETD_Statistic/bin/Debug/ETD_Statistic.exe
ETD/ETD_Statistic/bin/Debug/ETD_Statistic.pdb
ETD/ETD_Statistic/obj/Debug/ETD_Statistic.exe
ETD/ETD_Statistic/obj/Debug/ETD_Statistic.g.resources
ETD/ETD_Statistic/obj/Debug/ETD_Statistic.pdb
ETD/ETD_Statistic/obj/Debug/ViewsPresenters/MainWindow.baml
*.cache
ETD/ETD_Statistic/obj/Debug/
ETD/ETD_Statistic/obj/Debug/ETD_Statistic.csproj.FileListAbsolute.txt
ETD/ETD_Statistic/bin/Debug/System.Data.SQLite.xml
ETD/ETD_Statistic/bin/Debug/Icons/*
ETD/Builds/
ETD/Builds/Debug/ETD/
ETD/Builds/Debug/ETD_Statistics/
ETD/Builds/Debug/ETD_UnitTest/
ETD/Builds/Release/ETD/
ETD/Builds/Release/ETD_Statistics/
ETD/Builds/Release/ETD_UnitTest/
